JRELEASER_GPG_PUBLIC_KEY: |
  -----BEGIN PGP PUBLIC KEY BLOCK-----

  mQINBGP42IkBEAC3HCY2Loa+ymQLhdRJpmbvNwh64BXEkd3B8lCQJ6AZRksIC3mv
  pBQwPZqP2Gl9miGff6GMbjpq7lPtBRhIwdi4KvNurfuY1BGf3xc5q9XcSIma+lrP
  Xlb/3H9lKVHh+cDRfy+sJ4wMy2LUUz0zw+Gk7JQdg5NhML+o20Bl9cZ7XYdChuYG
  wxdU0tEq00Eo+a+xDxK9PYbqSJtNgpS7tE9jXExDQA2iFpkIJevyLR1axyZkwQLE
  dLknxa6rCZQ48l1eBEEHicFQB3haX8vbJd29pc8tZ8lc7J/K/jL3OoqkTV2VGeZx
  28GOdpvWSdXpeRBLuX3ZYbMWpVC1abMNJjcnLmQqTzQGEYBqcYGA2YBz5Z6KbK/5
  APQAccJFIB/BdgiLwt83qkEolAjTeV3dyJIOOCq6tLJyC7mWH8x4xHwK9A5KabX/
  JacZ1oaVmYiWcg/vzyPVsOGgcbAwWPDrtcxrrySa+toClkMsqmEWIQs7BjQFtsG5
  ys7ZMR8LmGinBO7vjgkx8QEti8bAIyUrlrAsXiYxfNCpReFRG7ro2Wf/MYJUB3C/
  MQ4SdNaSjOvy89YOIPpzADRkCdsZQC8j47NF8jc2tN2d7gyab0lnJgnxjt8uiQlh
  0Q29PocQEN3yr1nRPk30zW+DD8+fLTa5R4K9fMFA8ebIOQ+bu8+bBZc/kwARAQAB
  tFlIdWdvIFNUSU5TT04gKEdQRyBrZXkgdG8gcHVibGlzaCB0byBNYXZlbiBDZW50
  cmFsKSA8aHVnby5zdGluc29uQHNhbWFyZXMtZW5naW5lZXJpbmcuY29tPokCUQQT
  AQgAOxYhBMFTgYF6fRlT4wxaeo+yhs8JvWf5BQJj+NiJAhsDBQsJCAcCAiICBhUK
  CQgLAgQWAgMBAh4HAheAAAoJEI+yhs8JvWf5nVIP/RwMmdXLniOijSvWPmPXR8oW
  7zE/unfUFmegxUB8/emCCqI/TnKJZdKJ4SL47EEjuqk3i1nLCgRRVQThm5xBnrYq
  QzoE8jyNYGdetH7AgJC9BYDO1CAXgs6J2YoBUsQwa5xjfCedaKX8HkP69rCHPJQO
  ECPsrLk1XIkKtMOYaT3dMosss6D7/ZoTNOH5a7LLug85BPn2hlEjNuo41C5sVmLY
  JWbGbbtqet+Aeeu+mDcx2rGrx4AgBow3Ngl4yL93rL1yYeeiNBLaCXz6/5MWw8Rv
  1htpt87OB9yHbEKn3LFIkymG6lpVTEL7g7FHLW5QYG2n+CFQvk25pGlvRqcpAV4X
  7KGPQr6aad8FxTiqUGxHhAVtH+EkrwYcJ/wQRjKWMPEFn/XSIdrhTDBrrXqvO3Xg
  rDjEKZkdU6BFCpOL5jEmZnvu3pIA0I9VaPUkCQteRInN6uKqNXpzEMh9QqmEMO6m
  JK4gtUhkYcnDEGJvhI3H74jsxT6nl0xa2EceJPnHRUvyWXf3LE/rpNRklH+4gMZl
  q7rgAmHgIjFxk8Pfx5sW2yWJzZ2rWplyLrEAGBeBFF97o/r/5Izc9OfsWR/jso3B
  Ia5xegFiG3jb9zppLEY14upQoff+5GuZQ/sLDYe2gZ4swkJaY/l++1UxKc7fbitE
  DSkfxPMyqqYsjxIvq02auQINBGP42IkBEADUf0F7kLcqpQwBmzH8mTIMZH97ydJC
  PoD0Ak4BPLnUy4dlwAUpaujW+mQNfZJ3UO4+ir7yWTejDP/MLxEBjj2Goica8EHG
  xwlfAeLfakVY8E65RPJ2TsKPk6QPZGZqCf004gJYeEKzucB2L5jFV/Vqio/uZ1Yg
  RHkUVRNIBgjpaL7/i+Qp6XWyno/IL7yN38P5Ix7dhWdCG08dmT0gctBpJuTv7EK4
  lhO4EFpmtOgzcVlgkLKMLDr8G6031VCMt+pn03S806zOx/GaEKcJdc5smJ4ZW+J0
  CK1/kRbW8aq12zRl5rSS4aYvHWAe3pc8jO1iaU3BtpqWyUXZQyhG0vUGqyVZ0wnF
  1UOPt76YQvzWtzrS17jnXyBZr308Yx058rmwAHjgReFZQZm4JFkDfTQn3vaIYr2x
  HmzdSZqJZ8MVA7Cifsl96Rvska95AImdWvjepTu055poWaFQNfDyZntIHsGFHPPH
  7bGGtzr9W5FmvJnADLHNZkx4GQ9Ba3BK9xreIr7BSO8dgqFBoGsqcFa6nrOL42KO
  n0mw44Wgmv5TjPx+GwDHUR94Hi19Z9jBn2LGUKKMXnt5QziwY7DXvZTz+YnRUm7G
  TvE9kmIxi8nwsh37/OJUpXQ1SH1BGRxpEgfr9gRGs8VDD7orm5WPOc3N9TBephJ4
  08Tcthy22MztXQARAQABiQI2BBgBCAAgFiEEwVOBgXp9GVPjDFp6j7KGzwm9Z/kF
  AmP42IkCGwwACgkQj7KGzwm9Z/lWxxAAqyicEr9krpqUvvE0gm6P9nQ686IkqjuB
  l4yKlwBhBmaZ7z50BIrcV/w8nGGUXZTzMEETdWFfZcEbwdmjsooLWzPayH1qecAw
  WlYOQRl46bcv0dCfqmN83d+jywRKm8RfujFZbTGYk5nx9WB3mqdy3OtRRCLYrMbo
  qnwfgQjhmqPMYkfb1sQTT238OJD/fJ464uYoKab1KcanHSEzTPTsNejdwj0KM4Yk
  +er1t0m3kb7lYzzetODZVHZ4nmv2ADkU6RQcClvId9AGABnUvvkNNv2IUEaajjLx
  GwaVK/lorJJ9aX7XO7ge2eTbyQ+5oItmkfmRX+Ay8A8McbNczrWD+NyN5+aIxd5Z
  iqMeckjPtyR0NdEm8PesEmLzjy5OZW3Gjg4k0kgjf6pyIoxEAyhgFFFyc9m+DZ+J
  Nj3M2NADhxO2Jyebxg8UlpqX/ITALXv6Z+FX1YSZ4GC47YCNv+R4dfPoXgbNP8Vr
  vYeHG9rVVBiKTZ9yZHtcrtHBWIhtS5LGJcFQOU6atabpjidi0nPmpRjq8px72thz
  73LdgBHmrqOHB+qa/uDhPhA9bEIiznkO0k9cotK9njHdUX/i7qnM1u3QliKzyASl
  clnRhi5z1VsW8UM5gQJsRYNjm17dE6w4mqs5uOPzgtMun8qrHfJTcOJOZ410TJdz
  MgQIlnA4UA8=
  =27PX
  -----END PGP PUBLIC KEY BLOCK-----
JRELEASER_GPG_SECRET_KEY:
JRELEASER_GPG_PASSPHRASE:
JRELEASER_MAVENCENTRAL_USERNAME:
JRELEASER_MAVENCENTRAL_PASSWORD: