##
# Do not leave sensitive info here (ie. Passwords, usernames, ip adresses etc !
# Should be copied into ~/.gradle/gradle.properties and completed with necessary info
##

#Nexus artifact repository
nexusUrl =
nexusUsername =
nexusPassword =

#Server configuration
serverDescriptorPath = D:/workspace/NodeJS/MD_PluginServer/download/plugin/descriptors.xml
pluginTargetUrl = D:/workspace/NodeJS/MD_PluginServer/download/plugin
serverUrl =